<nav class="navbar">
  <h1 class="logo">SyncU</h1>
  <div class="nav-el">
    <ul class="menu">
      <li>
        <a href="#">
          <div class="prod">
            <span> Products </span>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </a>
        <!-- First Tier Drop Down -->
        <ul>
          <li class="drop-el">
            <a href="https://meet.syncu.me" target="_blank"
              ><span class="drop-el drop"> Meeting Scheduler</span></a
            >
          </li>
          <li class="drop-el">
            <a href="https://meet.syncu.me" target="_blank"
              ><span class="drop-el drop"> Meeting Scheduler</span></a
            >
          </li>
          <li class="drop-el">
            <a href="https://meet.syncu.me" target="_blank"
              ><span class="drop-el drop"> Meeting Scheduler</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
    <a href="/tools">Tools</a>
    <a href="">Services</a>
    <a href="">Portfolio</a>
    <a href="">Blogs</a>
    <a href="">Contact us</a>
    <div class="search">
      <ion-icon name="search-sharp"></ion-icon>
      <input type="text" placeholder="Search.." />
    </div>
    <!-- <button class="btn">Get Started</button> -->
  </div>
</nav>
