<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs',{css:'404'}) %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="cnt">
      <div class="error">
        <div class="err404">
          <span class="four">4</span>
          <span class="zero">0</span>
          <span class="four">4</span>
        </div>
        <div class="msgs">
          <p class="err-msg-1">Requested URL was not found on our Server</p>
          <p class="err-msg">
            This is a 404 error, which means you've clicked on a link which is
            not exist or entered an invalid URL, go back to your previous page
            or try using our site search to find something specific
          </p>
        </div>
        <a href="/" class="btn">Back to Homepage</a>
      </div>
    </div>
  </body>
</html>
