<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Rubik:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/03d58ba9c7.js"
      crossorigin="anonymous"
    ></script>
    <body>
    <nav>
      <h1 class="logo">SyncU</h1>
      <div class="nav-el">
        <a href="">Products</a>
        <a href="/tools">Tools</a>
        <a href="">Services</a>
        <a href="">Resources</a>
        <button class="btn">Get Started</button>
      </div>
    </nav>
    <div class="hero">
        <div class="content-1">
            <h1 class="hero-h1">Website Under Development </h1>
            <p class="hero-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reprehenderit ad nesciunt, ea totam illum at laborum debitis sed facere vero eius odio corrupti suscipit possimus voluptas cupiditate vel cum! Assumenda at architecto dolores dolore similique, corrupti laborum! Odit voluptatum beatae perferendis saepe, assumenda nobis quaerat doloribus cumque voluptate aut accusamus molestias </p>
        </div>
        <img src="img/webdev.jpg" alt="">
        <!-- <img src="img/comp.jpg" alt=""> -->
    </div>
  </body>
</html>
