<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs",{css:"tool"}) %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="hero">
      <div class="content-hero">
        <h1>Digital Tools | <span class="logo-1 logo">SyncU</span></h1>
        <p>
          The Best Free Digital Online tools you will get anywhere for your
          needs
        </p>
      </div>
    </div>
    <div class="trending-tools">
      <h1 class="tools">Top Trending Tools</h1>
      <div class="tool-box">
        <!-- <a href="/tools/link-previewer"></a> -->
        <div class="tool-1">
          <img src="/img/link.png" alt="" />
          <p>Link Previewer</p>
        </div>
        <div class="tool-1">
          <img src="/img/link.png" alt="" />
          <p>Link Previewer</p>
        </div>
        <div class="tool-1">
          <img src="/img/link.png" alt="" />
          <p>Link Previewer</p>
        </div>
        <div class="tool-1">
          <img src="/img/link.png" alt="" />
          <p>Link Previewer</p>
        </div>
        <div class="tool-1">
          <img src="/img/link.png" alt="" />
          <p>Link Previewer</p>
        </div>
      </div>
    </div>
    <!-- <div class="space"></div> -->
    <script src="/js/tool.js"></script>

    <script src="/js/nav.js"></script>
  </body>
</html>
