@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Raleway+Dots&family=Rubik:wght@400;500;600;700;800&family=Zen+Dots&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  font-size: 62.5%;
}

.logo {
  /* width: 13.0rem; */
  /* color: #474747; */
  z-index: 7;
  color: #fff;
  /* color: #e67e22; */
  font-family: "Zen Dots";
  font-size: 3rem;
  cursor: pointer;
}

nav {
  position: fixed;
  display: flex;
  height: 8vh;
  align-items: center;
  width: 100%;
  padding: 0 5vw;
  justify-content: space-between;
  z-index: 9;
}

.nav-el {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2.5rem;
}

.nav-el a {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
  color: #7f7f7f;
  font-weight: 500;
}
.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #2f2f2f;
  color: #fff;
  /* font-weight: 700; */
  border: none;
  cursor: pointer;
  border-radius: 0.7rem;
}

.btn:hover {
  background-color: #fff;
  color: #2f2f2f;
  outline: 0.2rem solid #2f2f2f;
  transition: 0.4s all;
}
.btn-1 {
  /* align-self: center; */
  align-self: flex-start;
  border: none;
  color: #fff;
  background-color: #2f2f2f;
  outline: 0.2rem solid #fff;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  border-radius: 0.7rem;
}

.btn-1:hover {
  color: #2f2f2f;
  background-color: #fff;
  /* font-weight: 700; */
  border: none;
  transition: 0.4s all;
}

.hero {
  /* padding-top: 10vh; */

  height: 100vh;
  display: flex;
  /* align-items: center; */
}

.content-1 {
  transform: skewX(-10deg);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 5rem;
}

.design {
  padding: 10rem;
  padding-top: 20rem;
  height: 100%;
  width: 70vw;
  padding-left: 20vw;
  margin-left: -10vw;
  background-color: #2f2f2f;
  transform: skewX(10deg);
}
img {
  /* z-index: 2; */
}

.hero img {
  /* max-width: 50vw; */
  margin-top: 20vh;
  width: 70rem;
  height: 46.6666rem;
}

.hero-h1 {
  font-family: "Ubuntu";
  /* transform: skewX(-10deg); */
  font-size: 5rem;
  color: #fff;
  font-weight: 900;
  /* color: #08428f; */
}
.hero-h2 {
  font-family: "Ubuntu";
  /* transform: skewX(-10deg); */
  font-size: 2.2rem;
  color: #fff;
  font-weight: 400;
  /* color: #08428f; */
}

.hero-p {
  /* transform: skewX(-10deg); */
  color: rgb(171, 171, 171);
  line-height: 1.6;
}
form {
  /* padding-right: 25rem; */
  /* justify-self: flex-start; */
  /* transform: skewX(-10deg); */
  /* justify-self: flex-end; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
input {
  padding: 10px;
  width: 35rem;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  font-size: 18px;
}

.nav-el a {
  display: inline-block;
  /* border-bottom: .2rem solid #333; */

  /* color: #000; */
  text-decoration: none;
}

.nav-el a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
  background: #333;
  transition: width 0.3s;
}

.nav-el a:hover::after {
  width: 100%;
  /* //transition: width .3s; */
}

.wave {
  position: absolute;

  top: 0;
  height: 220%;
  width: 300%;
  left: 35vw;
  transform: scale(3.5);
  transform: rotate(90deg);
}

.vert {
  position: absolute;
  /* transform: rotate(20deg); */
  background-color: #2f2f2f;
}

/* alert */
.alert {
  z-index: 9999999999;
  left: 35vw;
  top: 7vh;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0.55rem 0.65rem 0.55rem 0.75rem;
  border-radius: 1rem;
  min-width: 20vw;
  justify-content: space-between;
  margin-bottom: 2rem;
  box-shadow: 0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
    0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
    0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
    0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
    0px 48px 208.9px rgba(0, 0, 0, 0.05), 0px 115px 500px rgba(0, 0, 0, 0.07);
}
.content-err {
  display: flex;
  align-items: center;
}
.content-err p {
  font-size: 1.5rem;
  color: #2f2f2f;
  font-family: Helvetica;
  font-weight: 500;
}
.icon {
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 39% 61% 42% 58% / 50% 51% 49% 50%;
  box-shadow: 0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
    0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
    0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
    0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
    0px 48px 208.9px rgba(0, 0, 0, 0.05), 0px 115px 500px rgba(0, 0, 0, 0.07);
}
.close {
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  padding: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close:hover {
  background-color: #fff;
}

.success {
  background-color: rgba(62, 189, 97, 0.9);
  border: 2px solid #3ebd61;
}
.success .icon {
  /* background-color: #3ebd61; */
}

.op {
  opacity: 0;
}
