@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Raleway+Dots&family=Rubik:wght@400;500;600;700;800&family=Zen+Dots&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  font-size: 62.5%;
}

.logo {
  /* width: 13.0rem; */
  color: #474747;
  /* color: #e67e22; */
  font-family: "Zen Dots";
  font-size: 3rem;
  cursor: pointer;
}

nav {
  position: fixed;
  display: flex;
  height: 8vh;
  align-items: center;
  width: 100%;
  padding: 0 5vw;
  justify-content: space-between;
}

.nav-el {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2.5rem;
}

.nav-el a {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
  color: #7f7f7f;
  font-weight: 500;
}
.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #2f2f2f;
  color: #fff;
  /* font-weight: 700; */
  border: none;
  cursor: pointer;
  border-radius: 0.7rem;
}

.btn:hover {
  background-color: #fff;
  color: #2f2f2f;
  outline: 0.2rem solid #2f2f2f;
  transition: 0.4s all;
}

.hero {
  padding-top: 10vh;

  height: 100vh;
  display: flex;
  /* align-items: center; */
}

.content-1 {
  padding: 10rem;
  padding-top: 15rem;
  height: 100%;
  width: 50vw;
  /* background-color: #2f2f2f; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 5rem;
}

.hero img {
  /* max-width: 50vw; */
  margin-top: 10vh;
  width: 70rem;
  height: 46.6666rem;
}

.hero-h1 {
  font-family: "Ubuntu";
  font-size: 5rem;
  color: #333;
  font-weight: 900;
  /* color: #08428f; */
}

.hero-p {
  color: #474747;
  line-height: 1.6;
}

.nav-el a {
  display: inline-block;
  /* border-bottom: .2rem solid #333; */

  /* color: #000; */
  text-decoration: none;
}

.nav-el a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
  background: #333;
  transition: width 0.3s;
}

.nav-el a:hover::after {
  width: 100%;
  /* //transition: width .3s; */
}
