.hero {
  /* margin-top: 6%; */
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 70, 0.1),
      rgba(230, 125, 34, 0.1)
    ),
    url("/img/bg.svg");
  /* url("/img/tool3.svg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  height: 305px;
  background-attachment: fixed;
  width: 1440px;
  /* background-size: 100%; */
}
/* .logo {
  color: #333 !important;
} */
.logo-1 {
  color: #fff !important;
}
.content-hero {
  padding-top: 9%;
  padding-left: 10%;
}
.content-hero h1 {
  font-size: 40px;
  color: #fff;
}
.tools {
  font-size: 30px;
}
.content-hero p {
  margin-top: 20px;
  /* font-size: 40px; */
  color: #fff;
}
.content-hero h1 .logo {
  font-size: 40px;
  color: #fff;
}

.space {
  height: 200vh;
}

.trending-tools {
  width: 80vw;
  height: 25vh;
  background-color: rgb(251, 206, 177, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 8vh auto;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 25px;
}

.tools {
  text-align: center;
  color: #e67e22;
}

.tool-box {
  /* background-color: #111; */
  width: 100%;
  height: 90%;
  display: flex;
  padding: 10px;
  gap: 20px;
  align-items: center;
}

.tool-1 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  /* background-color: #111; */
  background-color: rgb(255, 255, 255, 0.5);
  height: 80%;
  width: 17%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.tool-1:hover {
  background-color: #fff;
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}

.tool-1 img {
  width: 6vh;
}

.tool-1 p {
  color: #333;
}

a {
  color: #fff;
}
