.hero {
  /* margin-top: 6%; */
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/img/bg.svg");
  /* url("/img/tool3.svg"); */
  transform: rotateY(180deg);
  background-size: 100%;
  background-repeat: no-repeat;
  /* height: 305px; */
  background-attachment: fixed;
  width: 100vw;
  height: 21vw;
  /* background-size: 100%; */
}
a:hover {
  color: #e67e22;
}
.nav-el a::after {
  background: #e67e22;
}
/* .logo {
  color: #333 !important;
} */
.logo-1 {
  color: #fff !important;
}
.content-hero {
  transform: rotateY(180deg);
  padding-top: 9%;
  padding-left: 10%;
}
.content-hero h1 {
  font-size: 4rem;
  color: #fff;
}
.tools {
  font-size: 3rem;
}
.content-hero p {
  margin-top: 2rem;
  /* font-size: 40px; */
  color: #fff;
}
.content-hero h1 .logo {
  font-size: 4rem;
  color: #fff;
}

.space {
  height: 200vh;
}

.trending-tools {
  width: 80vw;
  height: 25vh;
  background-color: rgb(0, 0, 0, 0.1);
  /* background-color: rgb(251, 206, 177, 0.3); */
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  margin: 8vh auto;
  border-radius: 1rem;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
}

.tools {
  text-align: center;
  color: #0b428f;
  /* color: #e67e22; */
}

.tool-box {
  /* background-color: #111; */
  width: 100%;
  height: 90%;
  display: flex;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
}

.tool-1 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  /* background-color: #111; */
  background-color: rgb(255, 255, 255, 0.5);
  height: 80%;
  width: 17%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.tool-1:hover {
  background-color: #fff;
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}

.tool-1 img {
  width: 6vh;
}

.tool-1 p {
  color: #333;
}

a {
  color: #fff !important;
}

.search input {
  border: none;
  border-bottom: 0.3rem solid #fff;
}

input::placeholder {
  color: rgb(189, 189, 189) !important;
}
.search ion-icon {
  color: #fff;
}

.drop {
  color: #2f2f2f;
}
